
<form action="/square">
  <h2>Enter the length of your rectangle: </h2>
  <div class="form-group">
    <label for="length"></label>
    <input name="length" id="length" type="number" class="form-control">
  </div>
  <h2>Enter the width of your rectangle: </h2>
  <div class="form-group">
    <label for="width"></label>
    <input name="width" id="width" type="number" class="form-control">
  </div>
    <button class="btn" type="submit">Go!</button>
</form>
